* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Muller", sans-serif;
  font-size: 16px;
  line-height: 32px;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.mr-40 {
  margin-right: 45px;
}

.pl-0 {
  padding-left: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.item__link {
  color: var(--dark-gold);
  font-size: 16px;
  font-weight: 400;
  z-index: 10;
  transition: color .2s ease;
}

.item__link--light {
  align-self: flex-start;
  color: var(--gold);
}

.item__link--big {
  font-size: 20px;
  font-weight: 500;
}

.item__link:hover {
  color: var(--grey);
  transition: color 0.2s ease;
}

.item__link path {
  transition: stroke 0.2s ease;
}

.item__link:hover path {
  stroke: var(--grey);
  transition: stroke 0.2s ease;
}
