.tour {
  margin-bottom: 70px;
}

.tour__inner {
  padding: 40px;
  min-height: 106px;
  background-color: var(--grey-bg);
  border-radius: 15px;
}

.tour__form {
  display: flex;
  align-items: center;
  padding: 28px;
  background-color: var(--light);
  border-radius: 15px;
}

.tour__list {
  margin: 0;
  padding: 0;
}
